# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.RoguelikeRTWP.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\RoguelikeRTWP\RoguelikeRTWP\RoguelikeRTWP\.idea\.idea.RoguelikeRTWP\.idea/dataSources/
/dataSources.local.xml
